<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="helloMessage" class="skornyakov.beans.spring.HelloMessage">
		<property name="message" value="AZAZA message" />
	</bean>
	
	<bean id="lazyBeanExample" class="skornyakov.beans.spring.LazyBean" lazy-init="true">
		<property name="message" value="Lazy message"/>
	</bean>
	
	<bean id="beanWithInitMethod" class="skornyakov.beans.spring.BeanWithInitMethod" init-method="init">
		
	</bean>
	
	<bean id="beanWithDestrMethod" class="skornyakov.beans.spring.BeanWithDestrMethod" destroy-method="destroy">
	
	</bean>

</beans>
